*{
    margin: 0%;
    padding: 0%;
}

.onsale-button-div{
    display: flex;
    justify-content: space-between;
    gap: 46%;
    margin-top: 8px;
}
.on-sale-button{
    color: black;
    width: 170px;
    height: 40px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.on-sale-button:hover{
    cursor: pointer;
}
.on-sale-text{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    margin-left:10px;
}
.Flash{
    color: var(--new-text-color);
    font-size: 25px;
    font-weight: 400;
}
.sales-img-section{
    width: 100%;
    height: 11rem;
    background-image: url("https://img.lazcdn.com/us/domino/b789d2e1-53fc-447b-8716-6058f6375dfd_PK-1920-500.gif_2200x2200q80.gif");
    background-position-x: 50%;
    background-repeat: no-repeat;
}
